@import url('https://fonts.googleapis.com/css?family=Patua+One');
body {
  margin: 0;
  padding: 0;
}

header {
  height: 40vh;
  background: linear-gradient(skyblue, white);
}

nav {
  font-family: Patua One;
  font-weight: normal;
  padding: 1em;
  width: 100%;
}

nav a {
  padding: 0em 0.5em;
  border-bottom: 2px solid black;
}
