@import url('https://fonts.googleapis.com/css?family=Patua+One');
body {
  margin: 0;
  padding: 0;
  padding-top: 2em;
  font-family: Patua One;
  background-color: #EEE;
}

main {
  padding: 1em;
  margin-left: 20em;
  margin-right: 20em;
  box-shadow: 0 0 10px #333;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 0 10px #333;
}

nav {
  position: fixed;
  top: 0;
  background-color: #333;
  width: 100%;
  box-shadow: 0 0 20px black;
}

nav a {
  text-decoration: none;
  border: none;
  display: inline-block;
  color: white;
  font-weight: normal;
  padding: 1em 3em;
  cursor: pointer;
}

nav a:hover {
  background-color: black;
}

footer {
  padding: 1em;
  color: white;
  font: Patua One;
  background: black;
}
