@import url('https://fonts.googleapis.com/css?family=Patua+One');
body {
  margin: 0;
  padding: 0;
  font-family: Patua One;
  background-color: #EEE;
}

main {
  margin: 1em 20em;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

header {
  height: 6em;
}

nav {
  background-color: #333;
  width: 100%;
  box-shadow: 0 0 20px black;
}

nav a {
  text-decoration: none;
  border: none;
  display: inline-block;
  color: white;
  font-weight: normal;
  padding: 1em 3em;
}

nav a:hover {
  background-color: black;
}

footer {
  padding: 1em;
  color: white;
  font: Patua One;
  background: black;
}
